body { background-color: rgb(0, 0, 0); text-align:center; }

p { color:white;}

h2 { color: rgb(0, 174, 255); font-weight:bold; margin: 16px; }

h1 { background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; text-transform:uppercase; font-weight:1000; }

.banner .banner-content { margin:auto; align-items: center; width: 510px;}

.banner p { max-width: 400px; margin: 16px auto 32px;  color: #FFF; text-align: center; font-family: Raleway; font-size: 15px; font-weight:bolder;}

.banner .logo { background-color: rgba(0, 0, 0, 0.2); height:268px; width:268px; margin: 16px auto; border-radius: 50%; }

.banner .logo img { margin:27px 10px 27px; height:214px; width:248px; object-fit:contain;}

.banner { background-image: linear-gradient(rgba(0, 174, 255,0.2),rgba(0, 174, 255,0.1)), url('../images/banner.png'); border-bottom: 1px solid #33A8DB; } 

#course-content { color: #FFF; text-align: center; font-family: Raleway; font-size: 15px; font-weight:bolder; width: 600px; margin: auto; margin-bottom: 60px; margin-top: 60px; }

.modules-list .module { margin: 24px; color: #FFF; text-align: center; font-family: Raleway; font-size: 15px; font-weight:bolder; border-radius: 57px; border: 1px solid #33A8DB; background: #252525; box-shadow: -2px 6px 4px 0px rgba(0, 0, 0, 0.40) inset; padding: 15px; }

#transform-world { height: 370px; background-image: url('../images/woman-code.png'); background-size:cover; background-attachment:fixed; background-repeat:no-repeat; background-position: center; background-size: contain; border: 1px solid #33A8DB;  } 

#transform-world p { color: #FFF; text-shadow: 3px 2px 0px #33A8DB; font-family: Raleway; font-size: 25px; font-style: normal; font-weight: 900;  }

#professional-challenges { border-bottom: 1px solid #33A8DB;}

.banner .banner-content button { color:#31A8DD; font-family: Raleway; font-size: 16px; font-weight: 900; letter-spacing: 4px; width: 326px; padding: 20px 0px; background-color:transparent; gap: 31px; text-transform:uppercase; border:2px solid #3ba1cd; border-image:linear-gradient(#3ba1cd,#1572b7); border-image-slice:9; padding: 16px 32px; margin-bottom: 75px;}